@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Local Theatre </h1>
    <p class="lead">Come and visit our fantastic theatre that offers numerous plays... to find out more click the button below.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img alt="First slide" src="~/Content/rsz_1img1.jpg" />
            </div>
            <div class="item">
                <img alt="Second slide" src="~/Content/rsz_img_2.jpg" />
            </div>
            <div class="item">
                <img alt="second slide" src="~/Content/rsz_1img_3.jpg" />
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>

</div>



@section MyScripts {
<script>
$(document).ready(function() {
   $("#myCarousel").swiperight(function() {
      $(this).carousel('prev');
    });
   $("#myCarousel").swipeleft(function() {
      $(this).carousel('next');
   });
});
</script>
}